<div class="header-outer">
  <!-- <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Homeland.</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Sass</a></li>
      <li><a>Components</a></li>
      <li><a>JavaScript</a></li>
      <a class="waves-effect waves-light btn teal" routerLink="/login">
        <i class="material-icons center">exit_to_app</i>
      </a>
    </ul>
  </div>
</nav> -->
<!-- <div class="add-property">
    <a class="btn-floating btn-large waves-effect waves-light red">
      <i class="material-icons">add</i>
    </a>
</div> -->
<div class="usernameTag">Hi, {{ username | lowercase }}</div>
<div class="logout-button">
    <a class="waves-effect waves-light btn teal" (click)="logOut()">
      <i class="material-icons center">exit_to_app</i>
    </a>
</div>
<div class="parallax"></div>
</div>
  