<div class="container">
  <div class="row filters-block">
  <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
    <div class="col s3">
        <label>Listing Type</label>
        <select class="browser-default" formControlName='listing_type'>
          <option value="" selected>All</option>
          <option value="condo">Condo</option>
          <option value="land">Land</option>
        </select>      
    </div>
    <div class="col s3">
        <label>Select City</label>
        <select class="browser-default" formControlName='city'>
          <option value="" selected>All</option>
          <option value="new york">New York</option>
          <option value="los angeles">Los Angeles</option>
        </select>      
    </div>
    <div class="col s3">
        <label>Offer Type</label>
        <select class="browser-default" formControlName='offer_type'>
          <option value="" selected>All</option>
          <option value="sale">Sale</option>
          <option value="rent">Rent</option>
          <option value="lease">Lease</option>
        </select>      
    </div>
    <div class="col s3">
        <button class="waves-effect waves-light btn" type="submit">Search</button>
    </div>
  </form>
  </div>
</div>