/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

body,html{
    margin:0;
    padding:0;
    border:0;
    font-family:  'Asap', sans-serif;
}
*{
    box-sizing: border-box;
}